ml>/htbody>
<
</script>    </       }
}
             dHtml;
 gri.innerHTML =rid')ionGcat('allontByIdEleme.get document         
                        }
           
          });         `;
                        /div>
             <                   Html}
es     ${fram                           </p>
mp)}c.timestamp(allomestaatTi${form</strong> rong>Time:<st <p>                           
    )}</p>zeloc.sis(alByte> ${formatongze:</strp><strong>Si      <                        ype}</p>
  .t${allocstrong> pe:</>Ty<strong         <p>                  
     }</h4>ariableloc.v <h4>${al                            ">
   on-item="allocatidiv class      <                += `
      Html      grid                   
                       }
                       }
                              mes</p>`;
 2} more fra -s.lengthloc.frame;">... ${al: italicstylent- 12px; fo-size:fontft: 10px; gin-letyle="marml += `<p samesHt      fr                       ) {
   ngth > 2mes.lelloc.fraif (a                                    
            ;
          })                            `;
                    
             </p>                                '}
 '?| .line |frameunknown'}:${le || '  ${frame.fi                              
          inown'}'unkn| on |rame.functi${f                              
          ">x;-size: 12p: 10px; font-leftmargin<p style="                               `
     sHtml +=        frame                         frame => {
 2).forEach(es.slice(0,oc.fram         all                ';
   ong></p>tack:</str<strong>Sml = '<p>framesHt                          ) {
  h > 0gtlenlloc.frames. && amesf (alloc.fra         i       
                        
        ml = '';t framesHt le                 
      => {lloc s.forEach(aAllocationfiltered             {
       } else          ';
       3></div>ters</hent filtch the currcations ma><h3>No allompty-state"class="etml = '<div   gridH            {
       th === 0)eng.locationsdAll if (filtere                
              ml = '';
 t gridHt      le
          de grierat // Gen            
           
        lice(0, 50);ions.sAllocat filteredtions =cadAlloereilt        f
        rmanceperfo0 items for t to 5 Limi   //           
                       }

           ;eak     br              );
     riable)e(b.vaComparble.locale => a.variab)a, tions.sort((Allocaltered     fi            
       variable':   case '                ak;
         bre                );
stampmetamp - a.ties=> b.timort((a, b) s.sondAllocati  filtere                      stamp':
time case '              k;
     rea           b             ze);
size - a. b.sia, b) =>sort((ns.ioatlteredAlloc         fi               ':
 'sizease  c               
   y) {(sortBtch      swi       ons
    t allocatiSor    //             
               );
         }
        e;tru    return            lse;
     rn faretu) Size < min (alloc.size         if    ;
       se return falrType)lte== fic.type !Type && allof (filter          i          => {
lter(alloc locations.fi= alAllocations iltered f  let            y) {
  , sortBizeminSrType, rid(filteateExplorerGfunction upd         
        );
       , 0, 'size'Grid(''eExplorer      updat
      l update/ Initia        /   
            ;
       })
      .value);BySelect, sortlterSize.value, fiTypeSelectid(filterExplorerGrtepda       u
         ;0) * maxSizeentage / 10e = (percilterSiznst f co            lue;
   sizeRange.vae =  percentagst  con        > {
      ange', () =Listener('chent.addEvpeSelect   filterTy    er
     type filtp / Set u  /      
             });
           ;
    ue)ct.valtBySeleorlterSize, se, fialuct.vrTypeSelerid(filteerGeExplorupdat             ;
    maxSize100) *rcentage / peze = (ilterSi    const f         
   ge.value;ge = sizeRantarcen   const pe        {
      =>() ', 'changener(tListeven.addEect   sortBySel  
       y');rtBentById('sot.getElemcument = dolectBySe const sor        
    bySet up sort      //             
  
    ;    })
        ).value);tBy'entById('sorment.getElemze, docuterSilue, filypeSelect.va(filterTerGriddateExplor         up    e)}`;
   s(filterSizmatByte > ${forize`SContent = e.textalu sizeRangeV            
    maxSize;00) *ge / 1ercentaerSize = (pt filt  cons              ge.value;
an = sizeRrcentagest peon           c> {
     input', () =istener('addEventLRange.       size    
          
   size));ap(a => a.ocations.m.max(...allSize = Mathonst max      c
      rangee for nd max siz  // Fi              
    );
    angeValue'Id('sizeRetElementBy document.gngeValue =eRa  const siz         nge');
 'sizeRantById(etEleme.gumenteRange = doc   const siz
          range size up     // Set   
                  });
        
  `;ption>e}</oe}">${typlue="${typon vati `<opnerHTML +=ect.inpeSelfilterTy             {
    h(type =>t().forEac).sorypeOptions.from(t       Array    
     
        </option>';">All Typese="alu<option verHTML = 'eSelect.inn   filterTyp    );
     filterType'tById('.getElemendocumentelect = peSfilterTyt      cons    ter
   ype fil topulate   // P
                        }
      
   }                    }
            
           });                 ]
ames || [Id].frstacks[stack  frames:                           type,
 ype:         t                0,
   stamp || on_info.timelocatikId].als[stacstacktamp:   times                     0,
      e ||on_info.sizallocatikId].stacks[stac size:                      e,
       varName:variabl                            stackId,
       id:                      .push({
 allocations                              
             ;
    pe)(tys.add typeOption                               
       
                 }             her';
     type = 'Ot                      {
      } else                     a';
  pe = 'Dat         ty            ) {
       ')atas('dName.include (var   } else if             
        ';mall Objecttype = 'S                          
  _object')) {s('smallincludef (varName.   } else i                   t';
  ium ObjecMed    type = '                        ')) {
um_objectcludes('mediame.inif (varNelse }                 
        ject';= 'Large Ob     type                        ')) {
bjectrge_olacludes('rName.in   if (va                     
                        
nknown';et type = 'U l                    )
   pproachplified aame (simle n from variabt type// Extrac                       known';
 able || 'un.varion_infollocatikId].astacs[e = stack varNam    const                    {
_info) tion].alloca[stackIdksstac  if (                 {
 ks)  stacackId inor (const st    f      
                   s;
   cks.stack.call_staEMORY_DATAacks = Monst st           c
     ks) {stacs..call_stackRY_DATA& MEMOs &l_stackY_DATA.cal  if (MEMOR         
      
       );et( = new SptionstypeO const   
         [];tions = llocaconst a          orer
  tive explor interacta fe da  // Prepar         {
 xplorer() eEteractivtializeInunction ini 
        f}
       ;
        = stacksHtmlML rHTt').inneencksContallStaById('ct.getElement documen            
                 }
';
      iv>/h3></dable< availk datal stacNo caltate"><h3>-s"emptys='<div clasacksHtml =       st
            } else {         v>';
  += '</ditacksHtml     s        
                  );
     }            `;
                   </div>
                  l}
       tmframesH      ${                  /p>
    ><ack:</strongstrong>St        <p><                    p>
| 0)}</.timestamp |on_infoack.allocatiamp(stformatTimestrong> ${/ste:<Timp><strong>     <                     }</p>
  e || 0)n_info.sizatiolloctes(stack.a${formatBy</strong> rong>Size: <p><st                      /h4>
     own'}<knunble || '_info.variationlloca{stack.a>$    <h4                        
em">ocation-it"allv class=         <di         `
      tml +=      stacksH          
                           }
                m></p>';
  </eailablees avack framp><em>No st '<amesHtml =          fr           '') {
     ===ramesHtml    if (f               
                 });
             
                `;          >
               </p                 
     ine || '?'})frame.l${'}:knownfile || 'un${frame.unknown'} (.module || ' ${frame                              
 strong> in '}</ownknion || 'unme.functg>${fra     <stron                          <p>
                           `
  += amesHtml      fr                  ame => {
 forEach(fr   frames.                     
        ';
        esHtml = '    let fram               [];
 | ames |stack.fr =  frames      const                
                eturn;
  tion_info) rtack.allocaf (!s     i        > {
        =Each(stack0).for(0, 2Array.slicecks   sta        
                    rid">';
 location-gs="aliv clas= '<dstacksHtml               
       
             });            - sizeA;
  sizeB urn     ret                 : 0;
 0nfo.size ||tion_io ? b.allocalocation_inf b.alst sizeB =         con     : 0;
      || 0 n_info.size locatio a.alfo ?llocation_inzeA = a.a si      const         
      => {a, b)((rtsArray.so      stack  
                       
        }));      ks[id]
    ...stac             
           id,        ({
       >  =cks).map(idstaeys(.kray = ObjectacksArconst st        
        ize by scks top 20 sta // Get         
                   acks;
   s.stA.call_stackY_DATs = MEMOR const stack              s) {
 ckcks.stal_staORY_DATA.cal& MEMall_stacks &MORY_DATA.c (ME       if      
 
          ml = '';cksHtsta      let      alization
 acks visue call streat       // C {
     b()cksTatalizeCallS initiaction     fun 
         }
  ;
       ableHtmlHTML = t').innercationsTableyId('allotBt.getElemen documen
                    ble>';
    += '</ta tableHtml              
          });
              `;
          
   </tr>                   mp)}</td>
 loc.timestamp(alimestatTtd>${forma       <                 td>
size)}</ytes(alloc.matBd>${for  <t                     >
 le}</tdalloc.variab>${     <td                   >
'')}</tdck_', place('staoc.id.re{all <td>$                      tr>
   <              
     `l +=Htmtable              c => {
  lloach(a00).forE 1(0,tions.slice alloca           locations
top 100 al  // Show        
            );
   - a.size) => b.size , brt((aions.solocat        aling)
    end size (desct by Sor    //                
  }
        }
               }
                         
  );     }             || 0
      stamp timeion_info.].allocatacks[stackId: stmestamp     ti                   || 0,
    n_info.size ioocattackId].allcks[s size: sta                          nown',
  'unk||ble nfo.variallocation_i[stackId].ae: stacks variabl                          tackId,
 d: s         i            
       sh({s.putionloca   al                 fo) {
    tion_inlocaId].altackif (stacks[s                  tacks) {
  tackId in sst s(con     for 
                          stacks;
 all_stacks.MORY_DATA.cks = MEacstnst co         
       tacks) {_stacks.sallATA.c_DORY& MEMstacks &TA.call_ORY_DA if (MEM    
              ;
      []ions =at alloc      const
                 ></tr>';
 <th>Time</thth>Size</th>/th><ariable<><th>V<th>ID</thl += '<tr>   tableHtm
         table">';ats-"st=lassle cml = '<tab tableHt  let     
     ons tableallocati// Create            {
  ab()ationsTtializeAllocction ini fun  
         
    ;
        }hartHtmlHTML = c').innerhartemoryByTypeCById('mentElemocument.get d                   
 able>';
   l += '</trtHtm     cha  
          
              });  ;
              `     
r> </t                   }%</td>
rcentagepe  <td>${                    
  }</td>(avgSize)esrmatByt  <td>${fo                 
     td>Size)}</ta.totales(daBytd>${format         <t             >
  </tdnt}ata.cou{d  <td>$                     td>
 >${type}</       <td              tr>
        <          
     ml += `tHt      char               
           ixed(1);
y * 100).toFlMemorze / totadata.totalSie = (ntag percest con         
      ount : 0;.clSize / datatotata.? dat > 0 a.counSize = datconst avg           ;
     ype[type]emoryByTa = m   const dat       => {
      ype s.forEach(t   type
              
       ze, 0);alSi].totpeByType[tymemoryum + => s, type) ce((sumedutypes.rtalMemory = st to    con  
                r>';
  tal</th></t>% of Toth</th><zee Siverag<th>Aize</th>l Sth><th>Totaunt</th>Co><th><th>Type</<trtHtml += 'har           c;
 able">'"stats-tble class=tartHtml += '<       cha
     </h3>';ge Detailsemory Usax;">M40pmargin-top: "'<h3 style=ml += Ht   chart  
       elow chartble b tad detailed       // Ad 
             >';
    += '</divhartHtml        c
        
             });           `;
  
          iv>         </d          >
 t})</divcoun${data.${type} (r-label">s="ba   <div clas                  }</div>
   e)ata.totalSizes(dtByt{forma">$r-value="balassiv c       <d            ;">
     color}olor: ${ckground-cight}%; ba ${he="height:"bar" style=<div class              `
      artHtml +=         ch         
              .length];
 rsndex % colos[ilor = color   const co            100;
 axSize) * talSize / mt = (data.toeighconst h                [type];
oryByTypedata = mem const        
         => {pe, index)h((tyactypes.forE                      
      ];
  
      '2b'#c0398c8d', 7e22', '#7fe', '#e6495 '#34',c9c   '#1ab           ,
  b6' '#9b59, '#f39c12',c'71', '#e74c3, '#2ecc'#3498db'            
    lors = [ const co     
                lSize));
  otaType[t].t> memoryBy.map(t =ax(...types = Math.mst maxSize    con       e);
 yByTypys(memor.ke = Objectnst types         co 
              t">';
-char="bardiv classml = '< chartHt let        
   ed bar charttailde  // Create 
                     
     }    }
                 }
                  ;
     fo.size || 0tion_in.alloca[stackId]ks+= stacize e].totalStypByType[oryem          m             
 ount++;.ce]yType[typmemoryB                      
                    }
                   
                   };               : 0
     Sizeotal  t                             ,
 unt: 0    co                            {
 ype] =moryByType[t  me                   
       pe[type]) {ByTyif (!memory                            
                 
      }                ;
     her'e = 'Ot  typ                        
  se {    } el                   'Data';
   type =                           'data')) {
des(me.incluf (varNa else i  }                    bject';
  ll Otype = 'Sma                           
 ect')) {mall_obj'se.includes(Namse if (var        } el           ';
     m Objectiuedtype = 'M                          )) {
  um_object'cludes('medi (varName.ine if       } els           ct';
      ge Objepe = 'Lar      ty                     ')) {
 e_objectudes('largclrName.inva       if (                      
               n';
    e = 'Unknow     let typ            h)
       pproacplified a(simle name m variabt type fro/ Extrac    /                    nown';
|| 'unkble info.variaon_allocatiId].ks[stackName = stac varst   con                {
     ) nfon_itiolocackId].alstaif (stacks[              
      s) {stackn Id iackr (const st      fo          
          s;
      .stackall_stacksRY_DATA.ccks = MEMOonst sta   c        
     ks.stacks) {.call_stacATA_DEMORYtacks && Ml_s.cal(MEMORY_DATA  if           
            = {};
 TypememoryByconst        t
     type charusage by y e memor/ Creat /     
      Tab() {ysismoryAnaltializeMefunction ini        
        
}
        nsights; ierHTML =).innhts'rmanceInsigyId('perfolementBetEdocument.g  
            
          ';+= '</ul>ts     insigh  
           
       li>`;es</opportunititimization  opons forlocatirge al💡 Review la`<li>s +=    insight   i>`;
      s</lated objectlocently alqus for fre object poolingonsider us+= `<li>💡 Chts    insig     s
    tionommenda receneral g   // Add
                
         }
        ze)})</li>`;tBytes(avgSirma${fo (ation sizee allocverag a Good `<li>✅sights +=      in         
 else {     } >`;
       /liavgSize)})<ormatBytes(n size (${fe allocatio High averagi>⚠️hts += `<l    insig            B
 // 10K> 10240) {vgSize    if (a
         cs : 0;activeAllo / alMemoryot0 ? ts > Alloctivee = aconst avgSiz         c
                 }
        
  ;locs})</li>`eAls (${activionatllocf active a number osonable`<li>✅ Reainsights +=             
      } else {    >`;
      lis})</lloctiveA{acs ($llocationtive aber of ac️ High num+= `<li>⚠ights ns          i
      100) {s > loc (activeAl      if   
             
      }`;
        mory</li>tage}% of meenjectsPercrgeObconsume ${labjects ge oObjects} lararge`<li>🔍 ${lts +=  insigh             ixed(1);
  .toF00)lMemory * 1mory / totactsMe (largeObjetage =rcenectsPeeObj const larg          
     0) {geObjects >  if (lar          analysis
  on data ights based// Add ins        
         
         }             }
               }
               
           }              ize;
  sMemory += sect    largeObj               
         eObjects++; larg                    {
        ge_object'))s('larcludeme.invarNa || e > 1024    if (siz              
                         ++;
     eAllocs   activ                
     ze; += si totalMemory                      
                         '';
iable || varon_info.].allocatiacks[stackId stName = var    const                 | 0;
   nfo.size |location_i].altackIdks[stact size = s   cons                 ) {
    ation_info].alloccks[stackId (sta     if               ) {
tacksstackId in sonst    for (c          
                  ks;
 s.stacstack.call_MORY_DATAtacks = MEt s        cons
        {s.stacks) tack_s.callDATAs && MEMORY_call_stackRY_DATA.f (MEMO         i
              ry = 0;
 jectsMemolargeOb       let 0;
     eObjects = larg    let    = 0;
     tiveAllocs t ac      le 0;
      emory =t totalM     le      ate stats
 // Calcul       
      
           : 0;">';leftdding-; paype: nonet-style-t style="lisights = '<ul ins let          ata
 n the d based osights some inerateen        // G   s() {
 InsightancerformzePen initiali     functio 
          
 }ml;
       eHtL = tablinnerHTMocations').All'recentntById(emeElument.get      doc    
          
    e>';abl/teHtml += '<     tabl          
  
       });          
        `;            </tr>
                </td>
  p)}estamoc.timmp(allmatTimesta{for <td>$                    /td>
   ize)}<loc.s(al{formatBytestd>$         <           >
    riable}</tdc.vatd>${allo         <               <tr>
               `
     += l     tableHtm         {
    loc =>Each(al0, 5).fortions.slice(recentAlloca          
             h></tr>';
 th>Time</tze</th><Sih>/th><table<><th>Varil += '<trleHtm    tab';
        ">stats-tablee class="<tablableHtml = 't t     leble
       e ta    // Creat         
          mestamp);
 .ti- atimestamp , b) => b.(at(ations.sorecentAlloc     r       g)
dintamp (descenby times Sort         //   
                  }
       }
                    }
              });
                       mp || 0
   info.timesta.allocation_s[stackId]ackimestamp: st    t               
         size || 0,cation_info.allotackId].e: stacks[s        siz             
       wn',| 'unknole |abarifo.vocation_inllkId].aacks[stacariable: st       v           
          ckId, stad: i                     {
      ons.push(atiecentAlloc r                      info) {
 n_tiod].allocacks[stackIif (sta                   stacks) {
 ckId in const staor (   f   
                  
        s;stackstacks.ATA.call_ MEMORY_Dstacks =  const           {
    acks) s.sttack_DATA.call_s && MEMORYcall_stacksDATA.MORY_f (ME  i              
        ns = [];
Allocatioonst recent  c          tions
cent allocaet 5 most re G         //  ons() {
 tAllocatializeRecentinition incfu          
 }
        ml;
      chartHtrHTML =n').innetributio'typeDisementById(.getElument   doc    
           
      v>'; '</diHtml += chart        
                });
 
                  `;v>
           </di           v>
      di</unt})co} (${data.">${typeel-labclass="bar <div               
         e)}</div>talSiztes(data.toByrmatfo${ue">ar-val"b <div class=                 ">
      : ${color};lornd-coou; backgrght}%ei ${ht:ighhestyle="r" lass="ba  <div c           `
       tHtml +=         char      
                th];
  olors.leng cndex %olors[ior = c   const col             * 100;
 axSize)lSize / mtota = (data.t height       cons;
         ion[type]ypeDistribut= t const data              ex) => {
  (type, indorEach(   types.f      
               ];
   
         b'#c03927f8c8d', '2', '#', '#e67e2 '#34495ec',c9ab'#1            
    #9b59b6',', 'c', '#f39c12#e74c3ecc71', ' '#2498db',    '#3   [
         t colors =     cons
                 ze));
   lSin[t].totatiopeDistribu types.map(t =>th.max(...tyMa= e onst maxSiz    c    ;
    ribution)Distct.keys(typebjet types = O cons   
                
    ;hart">'ar-class="b = '<div c chartHtml    lett
        are bar ch    // Creat                
 
      }  
                }      }
                  || 0;
   _info.size .allocationcks[stackId] += staalSizen[type].totistributioeD        typ       
         ].count++;tion[typestribu  typeDi                    
                          }
              
          ;      }                    ze: 0
       totalSi                          nt: 0,
         cou                        pe] = {
bution[tystri typeDi                           ]) {
tion[typeypeDistribu (!tif                             
                       }
                  ';
   'Data type =                    {
       ata')) udes('dnclarName.i} else if (v                       ;
 ct'll Objema= 'S  type                         
  object')) {mall_udes('sclvarName.in else if (        }           t';
     Medium Objectype = '                           ')) {
 bjectedium_oludes('mame.ince if (varN } els                      ect';
  ObjgeLar    type = '                      ) {
  ect')arge_objludes('larName.inc (vif                             
                 nown';
  Unkt type = '       le            
     oach)prap(simplified iable name pe from varxtract ty  // E               
       unknown'; || 'ariablefo.vn_in.allocatioId]tacktacks[s = snst varName      co                  o) {
n_infallocatios[stackId]. (stack          if   
        stacks) {kId int stac  for (cons    
                          s;
stacks.stackll_A.ca MEMORY_DATacks =st  const       {
        stacks) stacks.DATA.call_Y_cks && MEMORall_staRY_DATA.cEMO       if (M     
         };
   bution = {triypeDis  const t
          typeocations by  all // Group         {
   ribution()TypeDistn initialize   functio    
               }
 sights();
 manceInePerforializ    init   ghts
     ce Insiorman/ Perf       /  
               ;
ations()ocRecentAll  initialize  
        ionsnt Allocat // Rece                
     
  n();tioypeDistribulizeT     initia
       onibutiDistr  // Type            
   ;
        HtmlryStats memorHTML =ats').inneStById('memorytElementnt.ge      docume    
           ;
   = '</table>'tml +oryStatsH    mem      r>`;
  d></tstAlloc)}</ts(largeormatByted><td>${fation</trgest Alloctd>Laml += `<tr><StatsHt   memory
         </td></tr>`;)}tAlloc : smalles ? 0FE_INTEGER.MAX_SA== NumberAlloc =es(smallesttBytforman</td><td>${ Allocatiotd>Smallesttr>< += `<atsHtml memorySt         >`;
  </trcSize)}</td>s(avgAlloByteormat</td><td>${fSizen ocatioe Alltd>Averag= `<tr><tml +StatsHemory  m          
r>`;s}</td></tAlloc{active<td>$ns</td>catioAllove >Acti><td `<tratsHtml +=morySt        me  r>`;
  </td></talMemory)}ytes(tot{formatB/td><td>$tal Memory<tr><td>ToHtml += `<yStats     memor     
    
             }         : 0;
 Allocs/ activetotalMemory ocs > 0 ? eAllSize = activ avgAlloc            
               }
                     }
                }
                   e;
        izc = sgestAllo  lar                  
        gestAlloc) {size > lar if (                       }
                   
     loc = size;Allest smal                        oc) {
   llmallestA size < s&& > 0  if (size                   
                            ++;
Allocs  active                   
   ry += size;otalMemo t                     || 0;
  o.size ion_infd].allocatackI = stacks[stt size       cons           o) {
      infcation_allo].stackIdacks[     if (st          {
       in stacks) stackIdnst  for (co               
            cks;
   ks.staA.call_stacORY_DAT MEMstacks =     const   
         ks) {_stacks.stac.callEMORY_DATA_stacks && MRY_DATA.callMO   if (ME                 

    locSize = 0; avgAl     let
       c = 0;argestAllo       let lR;
     _INTEGEMAX_SAFEoc = Number.lestAll    let smal         = 0;
activeAllocs     let       
 y = 0;t totalMemor  le      stacks
     call om frlate stats Calcu//               
         >';
th></tr><th>Value</ric</th><th>Met += '<trtatsHtml   memoryS         ;
-table">'atse class="sttabl '<tsHtml =moryStame       let Stats
     mory    // Me
          {viewTab()izeOverinitialtion nc        fu   
   }
         
 atetim // Es`; * 1.2)}talMemoryatBytes(to ${formPeak Memory:Content = `ry').textpeakMemoById('entElemdocument.get       ;
     llocs}`{activeAions: $ive Allocatt = `ActtContentexs').llocveAntById('actient.getEleme    docum      
  y)}`;otalMemoratBytes(try: ${formtal Memotent = `TotConMemory').textalyId('tomentB.getEleent docum           der badges
ate heaUpd         //      
           }
   }
               }
                            llocs++;
 tiveA        ac        ;
         || 0ze.sion_infocatickId].alloacks[staory += st totalMem                 {
       info)ion_].allocatckId (stacks[sta    if                tacks) {
stackId in sr (const           fo     
                s.stacks;
 ll_stackRY_DATA.ca = MEMOstacks  const         
      acks) {ll_stacks.stORY_DATA.ca MEMll_stacks &&caORY_DATA.   if (MEM     
    mory usage get mecks toess call sta// Proc             
          s = 0;
 tiveAlloc     let ac
       ry = 0;molet totalMe         a
   cks datl_sta from calt statsxtrac        // E() {
    HeaderStatsdatetion upnc    fu      
     }
         plorer();
ExveInteracti  initialize         ksTab();
 eCallStactializ         ini
   nsTab();ioatlizeAllocia        initTab();
    alysisizeMemoryAnnitial   i         ewTab();
alizeOverviiniti      
      bsize all taitial  // In                  
  ts();
  tapdateHeaderS           ustats
 header pdate        // U   oard() {
  tializeDashbon inicti       fun  
 
      });
        ashboard();eD  initializ           => {
ded', ()entLoar('DOMConteneisttLEvenument.add     doced
    is loadOMrd when Dshboae da// Initializ         
     });
    
               });ive');
   ('actist.addbId).classL(taementByIdment.getEl    docu         ab');
   te('data-tttributton.getAbId = bu const ta       );
        ve'tidd('acsList.aaston.clut         b  t
      contenorrespondingd cann ttoed buss to clicke claAdd activ  //              
           
            });       ive');
   ve('act.remoistnt.classLconte                 => {
   (content rEachnt').fob-contell('.taySelectorAument.queroc    d           });
            ');
     ve('activeemolassList.r.c        btn  
          > {(btn =rEachb-btn').fotorAll('.taquerySelecument.      doc  
        tntentons and cofrom all but class iveactmove / Re        /         => {
'click', ()er(entListenddEvn.a  butto     => {
     ton orEach(buttn').fb-bl('.taAltorelecquerySocument.   dation
     b navig  // Ta       
 
           }  ');
 , '0rt(3dStaonds()).pallisecetMiing(date.g       Str         + 
    () + '.'imeStringeTte.toLocal daturn    re   000);
     stamp / 1000Date(timedate = new  const         nds
   iseco to milldsnosecon Convert na    //
        stamp) {timemestamp(ormatTiunction f
        f           }
   izes[i];
  ) + ' ' + s.toFixed(dm)k, i))Math.pow(at((bytes / rseFloeturn pa           r 
          og(k));
   Math.llog(bytes) /oor(Math.= Math.fl   const i 
                     'TB'];
 'MB', 'GB',, 'KB', = ['Bytes'nst sizes     co;
        ecimals ? 0 : d< 0decimals m =   const d
          24; k = 10  const           
         ';
  n '0 Bytesur) ret=== 0ytes f (b      i
       = 2) {malstes, decitBytes(byction forma   funions
     y functlitti U    //   
    
     _DATA = {};onst MEMORY      cfile
  ated  the generual data in with actbe replaced  // Will 
      t>
    <scrip </div>
ain>
   /m>
        < </div          
 /div>      <    div>
           </           
    ons...locati Loading al                ">
       tionGridalloca=" idation-grid"lloc"alass=     <div c            >
   "-contenterplors="exas     <div cl             </div>
          
          </div>      
        /select>        <           >
     ionptme</oe Nale">Variabl"variabue=tion val  <op                      >
    /option>Timestamp<"timestamp"lue=tion va    <op                      ption>
  ">Size</o="sizealue  <option v                          tBy">
"sor <select id=                    >
   /labelSort by:<="sortBy">el forab    <l                   p">
 trol-grouclass="condiv        <             </div>
                    span>
l sizes</alue">AleRangeV"siz   <span id=                 100">
     value="0"" max="10"0min=nge"  id="sizeRape="range"   <input ty                   >
  elRange:</labange">Size eR"sizr=label fo       <              >
   "up-gro="control<div class                v>
    di     </          
      </select>                     on>
  s</opti">All Type="option value  <                      >
    erType"filtelect id="  <s               >
       /labelby Type:<">Filter Typeteror="filel f      <lab          >
        trol-group"con"ss= cla  <div                ">
  rolsrer-cont"explolass=   <div c             ctive">
 id="interacontent""tab-lass=    <div c   ->
     Tab -ve Explorer cti Intera   <!--        v>

  </di         </div>
  acks...ll stding cant">LoaontellStacksCiv id="ca     <d          h3>
 acks</h3>Call St       <        ">
 l-stacksal="cidb-content" "tas= clas  <div   
        Tab -->acksl St   <!-- Cal        iv>

       </d      iv>
/dtions...<loca>Loading alnsTable"ocatioall="     <div id       
    /h3>ations<e Alloctiv <h3>Ac             >
  "ionsd="allocat" ientab-cont="tlass  <div c        ->
  b -cations Ta   <!-- Allo

         /div>          <v>
         </di        </div>
                      chart...
oading         L           
    art">eChTypd="memoryBy" irt-containerlass="cha <div c               
    </h3> by Typey Usage  <h3>Memor                 
 Content">alysisyAnid="memordiv        <      is">
   y-analysid="memorntent" "tab-coclass=   <div         -->
  lysis Tab Ana- Memory   <!-         </div>

     
          </div>           
  /div>           <     iv>
    ading...</dghts">LoormanceInsiiv id="perf        <d              
  s</h3>ance Insightrmrfo    <h3>⚡ Pe             
       d">verview-carss="o cladiv   <           iv>
         </d                 g...</div>
">LoadinonscentAllocati"re <div id=                   >
    ons</h3Allocati📋 Recent    <h3>           
          ard">rview-c="ove  <div class                 >
   </div            div>
      </ding...>Loaution"ypeDistrib id="t      <div            h3>
      ion</DistributType ️  <h3>🏷                
       ">cardiew-"overvv class=   <di          iv>
           </d           /div>
     ..<">Loading."memoryStatsd=  <div i                 
     stics</h3> Statiemory📈 Mh3> <             
          -card">"overviewass=div cl        <         grid">
   verview-v class="o   <di           rview">
   id="ove active"entonttab-c="div class           <->
 rview Tab -   <!-- Ove>
         tent"lass="con     <main c

       </nav>on>
    tt/buxplorer<teractive EInive">🎮 "interactta-tab=tab-btn" daton class="<but     
       </button>all Stacksstacks">🔍 Cb="call-tan" data-ab-btclass="ton       <buttn>
      tions</butto>📝 Allocas"llocation="a" data-tabab-btnlass="tton cbut           <button>
 Analysis</ry sis">🧠 Memoaly"memory-an=a-tabtn" dat-bass="tab<button cl          
  on>ew</butt">📊 Overvioverviewata-tab="n active" d"tab-bttton class=        <bu  
  tab-nav">"nav class=        <>

eader  </h      div>
</           ..</span>
 g.>Loadin"emoryeakM" id="pt-badge"staan class=         <sp    an>
   ng...</spocs">LoadiactiveAlle" id="="stat-badgss clapan         <san>
       </spoading...ory">L"totalMem id=badge""stat-lass=     <span c         
  s">der-statea class="h<div      
      /h1>rd<boaDashS Memory emScope-R   <h1>🔍 M
         "header">r class= <heade     iner">
  contaiv class="ody>
    <d</head>
<btyle>
 </s    }
   
              }ter;
  nt: cenconte justify-          ap;
     wrap: wr   flex-           ts {
  r-sta  .heade
                       }
    px;
       gap: 15            umn;
    colection: flex-dir       
         r {heade    .              
 }
             
    lumns: 1fr;-template-co      grid          iew-grid {
verv.o       
     8px) { 76dth:edia (max-wi
        @msponsive */      /* Re   
         }
px;
      : 10-bottommargin          
  h3 {y-state      .empt       
   
         }r: #777;
       colo    ng: 40px;
    paddi        ter;
 -align: cen      textte {
        .empty-sta*/
      tate ty S Emp        /*       
 }
        500;
 ight:   font-we
         -size: 12px;   font   ter;
      t-align: cen      tex     ht: 0;
  rig         : 0;
  eft        l
    op: -25px;  t
          ;absoluten: ioosit    p        r-value {
.ba
         }
               is;
low: ellipsrft-ove   tex;
         : hidden  overflow      
    nowrap;: -spacehite         w
   : 12px;ont-size        f
    nter;xt-align: ce   te      
   t: 0;   righ     : 0;
       left        ;
 5px bottom: -2      ;
     tebsoluion: a    posit{
        el ar-lab
        .b}
               ease;
  ht 0.3s heigon:   transiti        x;
 0pmin-width: 4       
     ;verelatisition:         po 0;
    px 04px 4radius: r-borde         r);
   colorimary-(--polor: varnd-cgrou  back         : 1;
         flex    r {

        .ba  
              }: 20px;
g-toppaddin            gap: 10px;
           
 nd;ms: flex-e  align-ite        
  : 100%; height           lay: flex;
isp          d {
   .bar-chart
                     }
e;
  ativn: rel  positio
          px;eight: 300           h{
 tainer rt-concha    .
    */hart n Ciostribute Di Typ      /*    
        }
      ;
-weight: 500     font      8f9fa;
 lor: #fkground-coac        bth {
    le abats-t  .st     
  }
        ee;
       #eolid om: 1px sttrder-bo bo          : left;
 text-align        ;
    ding: 12px    pad  {
      d able t-t .stats    h,
   le t  .stats-tab   
       }
     px;
       ttom: 20n-bo   margi        llapse;
  cor-collapse: borde        100%;
    idth:     w
       ats-table {     .stle */
   tats Tabory Sem  /* M
      }
             14px;
    size:font-        0;
    px  5 margin:            {
-item p .allocation   
          }
     16px;
     -size:     fontx;
        10p: tomrgin-bot     ma
       item h4 {cation-     .allo
                 }
 or);
 colr(--primary-x solid va 4pt:ef   border-l        : 15px;
 dding     pa
       adius: 8px; border-r           : #f8f9fa;
ord-colunbackgro         m {
   cation-ite.allo       
           }
 x;
     p: 15p         gafr));
   max(300px, 1inauto-fill, mepeat(columns: rlate-mpgrid-te            
d;display: gri          {
  -grid onllocati       .a        
        }

 ius: 4px;-rad      border      id #ddd;
olr: 1px s borde      px;
     dding: 8       pa{
     p input control-grou  .     
  select,groupontrol-   .c     
     
      }00;
     eight: 5   font-w       e: 14px;
  t-siz        fonl {
    -group labetrol.con        
     }
           ;
  gap: 8px      
    ter;n-items: cen  alig         lex;
 lay: f   disp   p {
      trol-grou      .con      
   }
  r;
       nte cems:  align-ite         ap;
 ap: wrflex-wr         ;
   om: 20pxmargin-bott          px;
  : 15        gap;
    y: flex      displa     trols {
 con  .explorer-    */
   er/* Explor
                        }
ght: auto;
        hei0%;
    : 10  max-width       mage {
        .svg-i     
   
         }  ;
uto alow-x: overf           dth: 100%;
   wi
         iner {tasvg-con    . */
    er Contain      /* SVG    
             }
olor);
 -cr(--darkolor: va   c         16px;
t-size:      fon       tom: 15px;
  margin-bot          rd h3 {
rview-ca       .ove 
 
         };
      color)y-ar(--primsolid varx rder-top: 4p     bo
       , 0.05);0, 0, 0px rgba(px 4: 0 2-shadow     box    x;
    15png:di     pad;
       : 8pxadiusr-rorde      b     
 hite;d-color: wgrounckba           ard {
 overview-c
        .         }
       x;
 gap: 20p         
  , 1fr));minmax(300pxuto-fit, t(apearecolumns: template-rid-   g  
       grid;y: la   disp       grid {
  verview-      .oGrid */
  ew /* Overvi
                     }
;
   ockdisplay: bl       e {
     tent.activ-con .tab       
      }
   
       , 0.05); 0, 0gba(0,x 4px rhadow: 0 2pox-s     b    20px;
     padding:           0px;
us: 1der-radior b   
        te;whiund-color: kgroac          bnone;
  isplay:       d     content {
    .tab-*/
     ontent  C        /*    
  }
          or: white;
     col   or);
    ry-col--primar: var(colod-ackgroun         b   ve {
tn.acti.tab-b           
         }
  
  1f1f1;d-color: #foun    backgr      {
  :hover tab-btn       .  
     }
    
      s ease; all 0.2ion:ansit        tr.05);
    0, 0, (0, 0ba0 2px 4px rgshadow:    box-  
       t: 500;-weigh        fontinter;
    po  cursor:        
   radius: 8px;r-borde         x;
   g: 10px 20pdin      pade;
      rder: non  bo     hite;
     olor: wound-c backgr          b-btn {
   .ta   
         }
        : wrap;
  x-wrapfle         20px;
    n-bottom:    margi       p: 10px;
   ga      
    y: flex;  displa
          b-nav {       .ta */
 ationig   /* Nav       

            };
  -weight: 500     font;
       -size: 14px font         px;
  20s: order-radiu         b10px;
   ding: 5px   pad
          5, 0.2); 255, 255,rgba(25r: kground-colo bac       {
    badge   .stat- 
           
     };
       gap: 15px         flex;
      display:
         {header-stats     .  
        
       }
  ght: 500;-weint         fo   24px;
: font-size        
    r h1 { .heade 
             }
        r;
 tems: cente  align-i         
 en;ace-betwent: spteify-con        just    
y: flex;     displa);
       0, 0, 0, 0.1 rgba( 0 4px 6pxw:hado      box-s      om: 20px;
in-bott marg          0px;
  1s:er-radiu bord      
     ng: 20px;di      padte;
      or: whi  col
          100%);495e  #34) 0%,lorr(--dark-co, vadeg35r-gradient(1 lineaound:kgr     bac       eader {

        .her */ /* Head             
 }
 x;
        dding: 20ppa         0 auto;
      margin:         ;
 00pxwidth: 14x-     ma      {
  er    .contain
    
           };
      #f8f9fand-color:backgrou        33;
      color: #3     
     1.6;eight: line-h       if;
     s-serial, sanAre UI', y: 'Segofamilont-   f         body {

               }
   0;
      ding:        pad     gin: 0;
        mar
    order-box; bng:   box-sizi     {
    
        * }
            
    : #27ae60;olorccess-c    --su     9b59b6;
   nfo-color: #  --i   12;
       9cor: #f3-warning-col       -
     0f1;or: #ecflight-col    --
        #2c3e50;color: -dark-     -      3c;
 r: #e74ccoloent-    --acc1;
        olor: #2ecc7secondary-c        --db;
     #3498or:ry-col  --prima             :root {
     */
  Base Styles/*  
        <style>itle>
  d</tory Dashboarcope-RS Memtitle>MemS0">
    <scale=1.h, initial-dt=device-wi"widthent=" contport"view <meta name=>
   "UTF-8"a charset=  <met
<head>
  ang="en">html lhtml>
<OCTYPE <!D